:root {
  /* Colors */
  --color-main: #70d7cc;
  --color-secondary: #32e39f;
  --color-white: #ffffff;
  --color-dark1: #006080;
  --color-dark2: #07373b;
  /* Breakpoints */
  --breakpoint-xs: 450px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  /* Padding */
  --padding-regular-x: 36px;
  --padding-regular-y: 1em;
  --padding-regular-xy: 1em 36px;
}

*::selection {
  background-color: var(--color-secondary);
}

body {
  font-family: "bilo", sans-serif;
  font-weight: 100;
  line-height: 1.3;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "atten-round-new", sans-serif;
  margin: 40px 0 60px;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 28px;
  font-weight: 500;
}
a {
  color: var(--color-dark1);
  text-decoration: none;
}

a:visited,
a:hover,
a:active {
  color: var(--color-secondary);
  text-decoration: underline;
}
